<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Final</title>
</head>
<body>
    <h1>Fin del Juego</h1>
    <p>El contenido del maletín que elegiste es: ${{ maletin_jugador }}</p>
    <p>El último valor restante es: ${{ ultimo_valor }}</p>
    <form action="{{ url_for('final') }}" method="post">
        <button type="submit" name="final_decision" value="switch">Cambiar maletín</button>
        <button type="submit" name="final_decision" value="keep">Mantener maletín</button>
    </form>
</body>
</html>
