<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Oferta</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='games.css') }}">
</head>
<body>
    <h1>Oferta de la Ronda {{ ronda }}</h1>
    <p>La oferta es: ${{ oferta }}</p>
    <form action="{{ url_for('offer') }}" method="post">
        <button type="submit" name="decision" value="deal">Aceptar Oferta</button>
        <button type="submit" name="decision" value="no_deal">Rechazar Oferta</button>
    </form>

    <h2>Maletines Abiertos</h2>
    <ul>
        {% for maletin, valor in maletines_abiertos %}
            <li>Maletín {{ maletin }}: ${{ valor }}</li>
        {% endfor %}
    </ul>
</body>
</html>
